<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <meta name="author" content="{{ site.theme.name }}" />
  <meta name="description" content="The portfolio of {{ site.theme.name }}" />
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
  <link rel="shortcut icon" href="/favicon.png">

  <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/foundation.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <script src="/assets/js/custom.modernizr.js"></script>
</head>
<body>
  {{ content }}
  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/foundation.min.js"></script>
  <script type="text/javascript" src="/assets/js/main.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
