---
layout: default
---
<div class="screen-wrap">
  <div class="side-wrap">
    <div class="icon">
      <a href="/"><img src="/assets/images/icon.png"></a></div>
    <div class="side-image-wrap"></div>
    <div class="side-body-wrap">
      <h1>Kristine Mendoza</h1>
      <p>In a world with so much noise, I design digital products that listen to and celebrate people.</p>
      <a href="http://www.linkedin.com/pub/kristine-mendoza/22/906/230"><i class="fa fa-linkedin-square"></i></a>
      <a href="mailto:kdmendoza8@gmail.com"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
  <div class="content-wrap">
    <div class="content-inner">
      <nav>
        <a href="/" {% if page.path == 'index.html' %}class="active"{% endif %}>Portfolio</a>
        <a href="/assets/kristine_mendoza_resume.pdf">Resume</a>
      </nav>
      {{ content }}
    </div>
  </div>
</div>
